# 忽略vscode配置文件夹
/.vscode/

# 忽略StuInfo_PyQt5的虚拟环境
/stuinfo_pyqt5/env/
# 忽略StuInfo_PyQt5的.pyc文件
/stuinfo_pyqt5/*.pyc

# 忽略StuInfo_C的生成文件
/stuinfo_C/build/

# 忽略StuInfo_Cpp的生成文件
/stuinfo_cpp/build/


# 忽略所有pyc文件
*.pyc

# 忽略python虚拟环境
env/

# 忽略所有打包文件
build/
dist/

# 忽略数据库文件
*.db